.contactPage {
  text-align: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
  font-family: "Electrolize", sans-serif;
  flex: 1;
  padding: 60px;
  overflow-x: hidden;
  background: radial-gradient(
      circle at 20% 30%,
      rgba(120, 80, 255, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(0, 180, 255, 0.2),
      transparent 45%
    ),
    linear-gradient(
      135deg,
      #05070d,
      #070b1a,
      #0a0f2c
    );
}


.contactTitle {
  font-family: 'Goldman', sans-serif;
  color: #b45eff;
  font-size: 40px;
  margin-bottom: 20px;
}

.contactForm {
  max-width: 560px;
  margin: 0 auto 60px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 14px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #FFFFFF;
  font-size: 14px;
  font-family: "Electrolize", sans-serif;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
}

.contactForm textarea {
  height: 120px;
  resize: none;
}

.contactForm button {
 position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color:#828282;
  color: #1F1F1F;
  border: none;

  padding: 14px 44px;
  border-radius: 999px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Goldman", sans-serif;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);

  transition:
  box-shadow 0.2s ease,
  padding 0.2s ease,
  transform 0.8s ease;
}

.contactForm button:hover {
  background-color: rgb(81, 183, 211);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.35);
  transform: translateY(-10%);
}

.contactForm button:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

h3 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Electrolize", sans-serif;
}

.contactOptions {
  font-family: "Electrolize", sans-serif;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}


.contactOptions a{
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 150px;
  border-radius: 999px;
  transition: background-color 0.4s ease, color 0.4s ease;
}


.contactOptions a.in:hover {
  background-color: #8fc5e9;
  color: white;
}

.contactOptions a.tel:hover {
  background-color: #e9e88f;
  color: white;
}

.contactOptions a.wha:hover {
  background-color: #25d366;
  color: white;
}

.contactOptions a.email:hover {
  background-color: #d62976;
  color: white;
}

.error-text{
 font-family: 'Goldman', sans-serif;
 color: #b45eff;
}


@media (max-width: 1024px) {
  .contactOptions {
    flex-direction: row;        /* mantener en fila */
    flex-wrap: wrap;            /* permitir que se ajusten si hay poco espacio */
    gap: 30px;                  /* espacio entre botones */
    justify-content: center;    /* centrar en la pantalla */
    margin-top: 30px;
  }

  .contactOptions a {
    width: 180px;               /* un poco más anchos */
    padding: 16px 20px;         /* más espacio interno */
    font-size: 16px;            /* letra un poco más grande */
  }
}