.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background: radial-gradient(
    circle at 20% 30%,
    rgba(120, 80, 255, 0.25),
    transparent 40%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(0, 180, 255, 0.2),
      transparent 45%
      ),
      linear-gradient(
        135deg,
        #05070d,
        #070b1a,
        #0a0f2c
        );
  color: #333;
  font-family: "Goldman", sans-serif;
}

.error-content {
  text-align: center;
  max-width: 450px;
  padding: 2rem;
  background: #fcfcff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

img{
  width: 100%;
}

.error-content h1 {
  font-size: 6rem;
  margin: 0;
  color: #1a153a;
}

.error-content h2 {
  margin: 0.5rem 0;
  font-size: 2rem;
}

.error-content p {
  margin: 1rem 0 2rem;
  font-size: 1.1rem;
  line-height: 1.4;
}

.aboutActions {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.aboutBackBtn {
  background: rgba(150, 63, 182, 0.9);
  color: #ffffff;
  border: none;
  padding: 10px 22px;
  font-size: 13px;
  font-family: "Goldman", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  border-radius: 999px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
}

.aboutBackBtn:hover {
  background: #000000;
  transform: translateY(-2px);
  box-shadow: 0 10px 22px rgba(107, 179, 167, 0.35);
}


@media (max-width: 1024px) {
  .error-content {
    max-width: 400px; /* un poco más estrecho */
    padding: 1.5rem;
  }

  .error-content h1 {
    font-size: 5rem; /* ligeramente más pequeño */
  }

  .error-content h2 {
    font-size: 1.8rem;
  }

  .error-content p {
    font-size: 1rem;
  }

  .aboutActions {
    margin-top: 60px;
  }

  .aboutBackBtn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

/* ---------- Móvil ---------- */
@media (max-width: 520px) {
  .error-content {
    max-width: 320px; /* aún más estrecho */
    padding: 1rem;
  }

  .error-content h1 {
    font-size: 3.5rem; /* título más pequeño */
  }

  .error-content h2 {
    font-size: 1.5rem;
  }

  .error-content p {
    font-size: 0.95rem;
  }

  .aboutActions {
    margin-top: 40px;
  }

  .aboutBackBtn {
    padding: 8px 16px;
    font-size: 11px;
  }
}