.footer {
  color: white;
  font-family: "Goldman", sans-serif;
  overflow: hidden;
  background-color: black;
}

.footer__content {
  display: grid;
  grid-template-columns: auto 1fr 300px;
  align-items: center;
  gap: 60px;
  padding-inline:72px;
}

.footer__logo img {
  max-width: 220px;
}


.footer__info {
  justify-self: center;
  text-align: left;
}

.footer__info h4 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 18px;
}

.footer__info p {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 10px 0;
  font-size: 17px;
}

.footer__info svg {
  font-size: 16px;
}


.footer__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}


.footer__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color:#828282;
  color: #1F1F1F;
  border: none;

  padding: 14px 44px;
  border-radius: 999px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Goldman", sans-serif;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);

  transition:
  box-shadow 0.2s ease,
  padding 0.2s ease,
  transform 0.8s ease;
}

.footer__button:hover {
  background-color: white;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.35);
  transform: translateY(-10%);
}

.footer__button:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.footer__social {
  display: flex;
  gap: 18px;
}

.footer__social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff82;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.15s ease;
}

.footer__social a:hover {
  background-color: #ffffff;
}


.footer__social a:nth-child(1) svg:last-child {
  color: #8fc5e9;
}

.footer__social a:nth-child(2) svg:last-child {
  color: #25d366;
}

.footer__social a:nth-child(3) svg:last-child {
  color: #d62976;
}


.footer__bottom {
  background-color: #1F1F1F;
  color: #FFFFFF;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  font-weight: 400;
}



@media (max-width: 900px) {
  .footer__content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
    padding-bottom: 35px;
  }

  .footer__actions {
    align-items: center;
  }

  .footer__info {
    justify-content: center;
  }
}
