
html {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: inherit;
  scrollbar-color: #816bb3 #F4EFE8;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #510886;
}

